<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Total Impressions: <%= @total_impressions %></h2>
    <h2>Total Clicks: <%= @total_clicks %></h2>

    <%= image_tag attachments['logo.png'].url %>
  </body>
</html>